

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#riskgame {
    margin-left: 20%;
}

#map td {
    height: 50px;
    width: 50px;
    border-width: 2px;
    border-color: #333;
    border-style: solid;
    text-align: center;
}

.empty {
    background-color: rgb(25, 25, 25);
}

.neutral {
    background-color: gainsboro;
}

.player {
    background-color: #2e6da4;
}
.attacked{
    background-color: #2aabd2;
}

.cpu {
    background-color: #ac2925;
}










